.highlight {
  background-color: yellow;
  font-weight: bold;
}

body {
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 50vw;
}

/*04-Background*/

button {
  background-color: #0d6efd;
  border-radius: 2px;
  outline: none;
}

/*05-Forms*/

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
}
